body {
  width: 960px;
  margin: 20px auto 0 auto;
}

.play-buttons {
  text-align: center;
}

.additional-buttons {
  text-align: right;
}

#volume {
  margin-top: 20px;
}

.list-group {
  margin-bottom: 0;
}

button.btn-playlist {
  margin-right: 5px;
}

.play-buttons h1 {
  margin-top: 0;
}

.playlist {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 0;
}

.well {
  padding: 20px;
}

.tab-pane {
  margin-top: 20px;
}

input.form-control {
  display: inline-block;
  width: auto;
}

#by-url input[type='submit'] {
  margin-top: -3px;
}

.btn-remove {
  padding: 1px 5px;
  margin: 0;
  float: right;
}